StockMarketsimulationGame/Broker.UI.Web/Service References/ServiceReference2/BrokerService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="BrokerService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:1877/BrokerService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:1877/BrokerService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IBrokerService_GetLoggedBroker_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLoggedBroker" />
  </wsdl:message>
  <wsdl:message name="IBrokerService_GetLoggedBroker_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLoggedBrokerResponse" />
  </wsdl:message>
  <wsdl:message name="IBrokerService_CreateNewBroker_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateNewBroker" />
  </wsdl:message>
  <wsdl:message name="IBrokerService_CreateNewBroker_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateNewBrokerResponse" />
  </wsdl:message>
  <wsdl:message name="IBrokerService_GetBrokerPassword_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBrokerPassword" />
  </wsdl:message>
  <wsdl:message name="IBrokerService_GetBrokerPassword_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBrokerPasswordResponse" />
  </wsdl:message>
  <wsdl:portType name="IBrokerService">
    <wsdl:operation name="GetLoggedBroker">
      <wsdl:input wsaw:Action="http://tempuri.org/IBrokerService/GetLoggedBroker" message="tns:IBrokerService_GetLoggedBroker_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBrokerService/GetLoggedBrokerResponse" message="tns:IBrokerService_GetLoggedBroker_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateNewBroker">
      <wsdl:input wsaw:Action="http://tempuri.org/IBrokerService/CreateNewBroker" message="tns:IBrokerService_CreateNewBroker_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBrokerService/CreateNewBrokerResponse" message="tns:IBrokerService_CreateNewBroker_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBrokerPassword">
      <wsdl:input wsaw:Action="http://tempuri.org/IBrokerService/GetBrokerPassword" message="tns:IBrokerService_GetBrokerPassword_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBrokerService/GetBrokerPasswordResponse" message="tns:IBrokerService_GetBrokerPassword_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IBrokerService" type="tns:IBrokerService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetLoggedBroker">
      <soap:operation soapAction="http://tempuri.org/IBrokerService/GetLoggedBroker" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateNewBroker">
      <soap:operation soapAction="http://tempuri.org/IBrokerService/CreateNewBroker" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBrokerPassword">
      <soap:operation soapAction="http://tempuri.org/IBrokerService/GetBrokerPassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BrokerService">
    <wsdl:port name="BasicHttpBinding_IBrokerService" binding="tns:BasicHttpBinding_IBrokerService">
      <soap:address location="http://localhost:1877/BrokerService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>